<!doctype html>
<html
  lang="{{ or site.Language.Locale }}"
  dir="{{ or site.Language.Direction `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body
    class="{{ if .IsPage }}
      recipe-single-layout
    {{ else }}
      recipe-list-layout
    {{ end }}"
  >
    <header>
      {{ partial "header.html" . }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    <div class="modal-backdrop" id="store-selector-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Store Layout</h3>
          <button
            type="button"
            class="modal-close-btn"
            aria-label="Close modal"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <span class="store-selector-label">Choose your layout route:</span>
          <div
            class="store-layout-options"
            id="global-store-layout-options"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
