{{ define "main" }}
  <div class="homepage-content">
    {{ .Content }}
  </div>
  {{ partial "search.html" . }}
  <div
    id="search-results"
    class="recipe-list recipe-grid"
    style="display: none;"
  ></div>
  <div id="recipe-list-default">
    {{ $recipes := (where site.RegularPages "Type" "recipe").ByDate.Reverse }}
    {{ $limitRecipes := first 24 $recipes }}
    <div class="recipe-list recipe-grid">
      {{ range $limitRecipes }}
        {{ partial "recipe-list-item.html" . }}
      {{ end }}
    </div>
  </div>
{{ end }}
