<article class="recipe-list-item">
  {{ with .Resources.GetMatch "featured-image*" }}
    {{ $image := .Fill "240x240 Center webp" }}
    <a href="{{ $.RelPermalink }}" class="recipe-list-image-link" aria-label="{{ $.Title }}">
      <div class="recipe-list-image">
        <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $.Title }}" loading="lazy">
      </div>
    </a>
  {{ end }}
  <div class="recipe-list-content">
    <h2 class="recipe-list-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <div class="recipe-list-meta">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}" class="recipe-list-date">{{ $dateHuman }}</time>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </div>
</article>
